#pageHeading {
  /* text-align: center;
  width: 100%
  height: 100px;
  margin: 25px;
  border: 25px green; */
  background-color: lightblue;
  width: 200px;
  padding: 25px;
  border: 25px solid navy;
}

table, th, td {
    border: 1px solid black;
}
